<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="com.wolfycz1.JLineAppender">
        <encoder>
            <pattern>[%level] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-ERROR}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>